body {
    background-color: lightblue;
}

h2 {
    padding-left: 1em;
}

li {
    background-color: whitesmoke;
    margin-bottom: 5px;
    margin-right: 2em;
    list-style: none;
    padding: 5px;
}

li:hover {
    background-color: ghostwhite;
}

article {
    border: 2px dotted blueviolet;
    margin-bottom: 1em;
}